body {
    background: radial-gradient(circle, #ff62b6 10%, #0085d2);
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#menu {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Elements centered within menu */
#Timer, #Home {
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.3s ease;
    background: #1e283c;
    color: #ffffff;
    border: none;
    padding: 0.75rem 2rem;
    margin: 1rem;
}

/* Login, Reset Buttons positioned independently */
#LogOut {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: #3175b9;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.3s ease;
}

#resetUser, #resetLog {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.7rem;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: #195b9e;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.3s ease;
    margin-right: 0.5rem;
}

#resetUser {
    right: 9rem;
}
