body {
    background: linear-gradient(45deg, #0085d2, #ff62b6);

}

#title {
    position: relative;
    left: 42%;
    font-family: c;
    font-style: bold;
    margin-bottom: 2rem;
    color: #195b9e;
    text-shadow: 3px 2px #1e283c;
}

#pick1 {
    position: relative;
    left: 47%;
    font-family: c;
    font-style: bold;
    margin-bottom: 2rem;
    color: #195b9e;
}

#pick2 {
    position: relative;
    left: 47%;
    font-family: c;
    font-style: bold;
    margin-bottom: 2rem;
    color: #195b9e;
}

#pick3 {
    position: relative;
    left: 47%;
    font-family: c;
    margin-bottom: 2rem;
    color: #195b9e;
}

#Hair1 {
    position: relative;
    left: 20rem;
    height: 10rem;
    width: 10rem;
}

#Hair2 {
    position: relative;
    left: 40rem;
    top: -10rem;
    height: 10rem;
    width: 10rem;
}

#Hair3 {
    position: relative;
    left: 60rem;
    top: -20rem;
    height: 10rem;
    width: 10rem;
}

#Face1 {
    position: relative;
    left: 20rem;
    top: 0rem;
    height: 10rem;
    width: 10rem;
}

#Face2 {
    position: relative;
    left: 40rem;
    top: -10rem;
    height: 10rem;
    width: 10rem;
}

#Face3 {
    position: relative;
    left: 60rem;
    top: -20rem;
    height: 10rem;
    width: 10rem;
}

#Body1 {
    position: relative;
    left: 20rem;
    top: 0rem;
    height: 10rem;
    width: 10rem;
}

#Body2 {
    position: relative;
    left: 40rem;
    top: -10rem;
    height: 10rem;
    width: 10rem;
}

#Body3 {
    position: relative;
    left: 60rem;
    top: -20rem;
    height: 10rem;
    width: 10rem;
}

#Hair1 img {
    position: relative;
    height: 8rem;
    width: 8rem;
}

#Hair2 img {
    position: relative;
    height: 8rem;
    width: 8rem;
}

#Hair3 img {
    position: relative;
    height: 8rem;
    width: 8rem;
}

#Face1 img {
    position: relative;
    height: 8rem;
    width: 8rem;
}

#Face2 img {
    position: relative;
    height: 8rem;
    width: 8rem;
}

#Face3 img {
    position: relative;
    height: 8rem;
    width: 8rem;
}

#Body1 img {
    position: relative;
    height: 8rem;
    width: 8rem;
}

#Body2 img {
    position: relative;
    height: 8rem;
    width: 8rem;
}

#Body3 img {
    position: relative;
    height: 8rem;
    width: 8rem;
}

#Enter {
    position: relative;
    left: 47%;
    font-family: c;
    font-style: bold;
    margin-bottom: 2rem;
    color: #195b9e;
}