body {
    background: linear-gradient(45deg, #0085d2, #ff62b6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #195b9e;
    text-shadow: 3px 2px #1e283c;
    text-align: center;
}

#pick1, #pick2, #pick3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #195b9e;
    text-align: center;
    margin: 1rem 0;
}

#Hair, #Face, #Body {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Space between each button */
    margin-bottom: 1rem; /* Space between each row */
}

#CharactorPicker button{
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button img {
    height: 8rem;
    width: 8rem;
}

#Enter {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #195b9e;
    text-align: center;
    margin-top: 1rem;
}
